---
import Base from '../layouts/Base.astro';
---

<Base title="Oktatás" description="Magyar nyelvoktatás a vancouveri Szent László Magyar Iskolában.">
  <div class="container container--narrow prose">
    <h1 class="page-title">Oktatás</h1>

    <p>
      Magyarországi általános iskolai tankönyvek segítségével tanítjuk írni és olvasni
      a gyerekeket. A nagyobbakkal a magyar irodalom és nyelvtan, földrajz és történelem
      tantárgyakat is érintjük a tanév során. Nagy hangsúlyt fektetünk a hagyományok,
      a magyarországi ünnepek ismertetésére is. Természetesen, ahogy minden hétvégi
      iskola, ahol heti egy alkalommal zajlanak a foglalkozások, úgy a mi iskolánkban
      sem lehet követni a magyarországi általános iskolai tanmenetet.
    </p>
    <p>
      Célunk, hogy a gyerekek megszeressék a magyar nyelvet, kapjanak egy olyan alapot,
      aminek a segítségével a felébresztett igény a magyar nyelv elsajátítására már
      belülről fakadjon, önállóan is olvassanak, tanuljanak otthon magyarul is.
      Az oktatáshoz a tankönyveket Magyarországról szerezzük be folyamatosan, próbáljuk
      követni a legújabb tanítási módszereket.
    </p>
    <p>
      Az elmúlt években egyre több gyermek érkezik hozzánk, akik a magyart már mint
      idegen nyelvet tanulják, hiszen a családban főleg angolul beszélnek. Ez egy újabb
      kihívást jelent az iskola életében, de pedagógusaink nyitottak a képzésekre,
      új irányokra, így lépést tudunk tartani az igényekkel. A járvány új hozadéka,
      hogy két évig online zajlott az oktatás, ezzel lehetővé téve a Vancouver
      vonzáskörzetében élő gyerekek számára is a csatlakozást.
    </p>
    <p>
      Szeretnénk játékos formában megmutatni kicsiknek és nagyoknak, hogy milyen
      csodálatos a magyar nyelv, ezáltal egy új utat nyitni számukra a világban.
    </p>
  </div>
</Base>
