---
import Base from '../../layouts/Base.astro';
---

<Base title="Órarend" description="A Szent László Magyar Iskola órarendje.">
  <div class="container container--narrow prose">
    <h1 class="page-title">Órarend</h1>

    <p>
      <strong>Jelenléti oktatás</strong> esetén vasárnaponként 10 órától 11:40-ig
      tart a foglalkozás.
    </p>
    <p>
      <strong>Online oktatás</strong> esetén a kialakult csoportok a tanárokkal
      közösen egyeztetik majd az időpontot.
    </p>
  </div>
</Base>
